.cube {
  display: grid;
  place-items: center;
}

.cube > * {
  position: absolute;
}

.face {
  display: grid;
  place-items: center;
  width: 100%;
  position: absolute;
  /* backface-visibility: hidden; */
  transition: all .3s;
}

.cube > *:nth-child(1) {
  background: rgb(210 0 0 / 70%);
  /* rotate: -.577 .577 -.577 120deg; */
}

.cube > *:nth-child(2) {
  background: rgb(0 0 210 / 70%);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px);
}

.cube > *:nth-child(3) {
  background: rgb(210 210 0 / 70%);
  transform: rotateX(90deg) translateZ(50px);
}

.cube > *:nth-child(4) {
  background: rgb(210 0 210 / 70%);
  transform: rotateX(-90deg) translateZ(50px);
}
