.face {
  backface-visibility: hidden;
  /* Outline triggers anti-aliasing */
  /* outline: 1px solid transparent; */
  /* transform-style: flat !important; */
  display: grid;
  place-items: center;
}

.face > * {
  position: absolute;
}

body.antialias .face {
  outline: 1px solid transparent;
}
